<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('styles/vueFicheVisiteur.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ asset('styles/vueModalSuppression.css')}}" rel="stylesheet" type="text/css">
    <title>Visiteur - Pannel</title>
    <script src="https://kit.fontawesome.com/d84560b21a.js" crossorigin="anonymous"></script>
</head>
<body>
    <script type="text/javascript" src="{{ asset('js/fiches_frais.js')}}">
    </script>
    <div class="header">
        <a class="header-title">{{visiteur}}</a>
        <a class="header-link" href="/deconnexion">Deconnexion</a>
        <a class="header-link" href="/visiteur/historique">Historique</a>
        <a class="header-link" href="/visiteur/frais">Fiches</a>
    </div>

    <div class="page">
        <div class ='page-modal' id = 'page-modal'>
            <div class = 'modal' id='modal'>
                <div class ='modal-header'>
                    <p>Voulez-vous supprimer cette ligne ?</p>
                </div>
                <div class = 'modal-footer' id ='modal-zone-btn'>
                    <button class = "btnModal" id ='non' onclick="closeModal()">NON</button>
                </div>
            </div>
        </div>

        <div class="fiche_position">

            <div class="fiche_frais">
                <form method="POST" action="/visiteur/fiche/envoyer" id="fiche">

                    <h1>Fiche Frais {{mois}}</h1>
                    <h2>{{ etats[0][1] }}; {{ etats[0][0] }} par comptable</h2>

                    <div class="form_table">

                        <table class="table_fiche">

                            <thead>
                                <tr>
                                    <th class="th_libelle">Frais Forfaitaire</th>
                                    <th class="th_quantite">Quantité</th>
                                </tr>
                            </thead>

                            <tbody>

                                {% for unFrais in fraisForfait %}
                                    <tr>
                                        <td class="td_libelle">{{unFrais["libelle"]}}</td>
                                        <td class="td_input">
                                            <input 
                                                name="frais_forfait[{{loop.index}}]" 
                                                input class="input_prix" type="number" 
                                                value="{{ligneFraisForfait[loop.index0]['quantite']}}"
                                                min="0"
                                            >
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <table class="table_fiche" id="table_hors_frais">
                            
                            <thead>
                                <tr>
                                    <th class="th_hf_libelle">Frais Hors Forfait</td>
                                    <th class="th_hf_date">Date</th>
                                    <th class="th_hf_prix">Prix</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>

                                {% if ligneFraisHorsForfait is empty %}

                                    <tr>
                                        <td class="td_libelle"><input name="frais_hors_forfait[0][libelle]" id="td_libelle_0" class="input_libelle" type="text" required></td>
                                        <td class="td_date"><input name="frais_hors_forfait[0][date]" id="td_date_0" min="{{year}}-{{month}}-01" max="{{year}}-{{month}}-31" class="input_date" type="date"></td>
                                        <td class="td_input"><input name="frais_hors_forfait[0][input]" id="td_input_0" class="input_prix" type="number" value="0" min="0"></td>
                                        <td class ="td_trash"><i class="fa-solid fa-trash" onclick="openModal(this)"></i><td>
                                    </tr>


                                {% else %}

                                    {% for unHorsFrais in ligneFraisHorsForfait %}
                                        <tr>
                                            <td class="td_libelle">
                                                <input 
                                                    name="frais_hors_forfait[{{loop.index0}}][libelle]" 
                                                    id="td_libelle_{{loop.index0}}" 
                                                    class="input_libelle" 
                                                    type="text" 
                                                    value="{{unHorsFrais["libelle"]}}">
                                            </td>
                                            
                                            <td class="td_date">
                                            
                                                <input 
                                                    name="frais_hors_forfait[{{loop.index0}}][date]" 
                                                    id="td_date_{{loop.index0}}" 
                                                    class="input_date" 
                                                    type="date"
                                                    min="{{year}}-{{month}}-01"
                                                    max="{{year}}-{{month}}-31"
                                                    value="{{unHorsFrais["date"]}}">
                                            </td>
                                            
                                            <td class="td_input">
                                                <input 
                                                    name="frais_hors_forfait[{{loop.index0}}][input]" 
                                                    id="td_input_{{loop.index0}}" 
                                                    class="input_prix" 
                                                    type="number" 
                                                    value="{{unHorsFrais["montant"]}}" 
                                                    min="0">
                                            </td>
                                            
                                            <td class ="td_trash"><i class="fa-solid fa-trash" onclick="openModal(this)"></i></td>
                                            
                                        </tr>
                                    {% endfor %}

                                {% endif %}
                            </tbody>
                        
                        </table>

                    </div>


                </form>
                <div class="add_frais_button_position">
                    <button onclick="add_frais()" class="add_frais_button" role="button">Ajouter</button>
                </div>

                <div class="form_submit_position">
                    <button class="form_submit" type="submit" form="fiche">Envoyer</button>
                </div>

            </div>

        </div>

    </div>

</body>
</html>