<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('styles/vueFichesComptable.css')}}" rel="stylesheet" type="text/css">
    <title>Comptable - Pannel</title>
    <script src="https://kit.fontawesome.com/d84560b21a.js" crossorigin="anonymous"></script>
</head>
<body>

    </script>

    <div class="header">
        <a class="header-title">GSB-Frais</a>
        
        <a class="header-link" href="/deconnexion">Deconnexion</a>
        <a class="header-link" href="/comptables/fiches">Fiches</a>
    </div>

    <div class="page">

        <div class="fiches_list_position">
            <div class="fiches_list">

                <form class="form_search" action="/comptable/fiches" method="POST">

                    <div class="input_zone">
                        <div class="label_input">
                            <label for="username">Username</label>
                        </div>
                        <input class="text_input" type="text" name="username">
                        <input class="checkbox_input" type="checkbox" name="username_checkbox">
                    </div>

                    <div class="input_zone">
                        <div class="label_input">
                            <label class="label_input" for="date">Mois</label>
                        </div>

                        <select name="month" class="text_input">
                            <option value="1">Janvier</option>
                            <option value="2">Fevrier</option>
                            <option value="3">Mars</option>
                            <option value="4">Avril</option>
                            <option value="5">Mai</option>
                            <option value="6">Juin</option>
                            <option value="7">Juillet</option>
                            <option value="8">Aout</option>
                            <option value="9">Septembre</option>
                            <option value="10">Octobre</option>
                            <option value="11">Novembre</option>
                            <option value="12">Decembre</option>
                        </select>

                        <input class="checkbox_input" type="checkbox" name="date_checkbox">
                    </div>

                    <button type="submit">Rechercher</button>
                </form>

                {% for uneFiche in fichesFrais %}

                    <button class="button_fiche" onclick="load_fiche()"> {{uneFiche["mois"]}} {{uneFiche["nom"]}} </button>                

                    <div class="fiche_position">

                        <div class="fiche_frais">

                            <h1>Fiche Frais MOIS</h1>
                            <h2>ETAT par comptable</h2>

                            <div class="form_table">

                                <table class="table_fiche" id="table_frais">
                                    <thead>
                                        <tr>
                                            <th class="th_libelle">Frais Forfaitaire</th>
                                            <th class="th_quantite">Quantité</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for unFrais in uneFiche["ligneFraisForfait"] %}
                                            <tr>
                                                <td class="td_libelle">{{unFrais["fraisForfaitLibelle"]}}</td>
                                                <td class="td_input">
                                                    <input 
                                                        name="frais_forfait[{{loop.index}}]" 
                                                        input class="input_prix" type="number" 
                                                        value="{{ligneFraisForfait[loop.index0]['quantite']}}"
                                                        min="0"
                                                    >
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <table class="table_fiche" id="table_hors_frais">
                                    
                                    <thead>
                                        <tr>
                                            <th class="th_hf_libelle">Frais Hors Forfait</td>
                                            <th class="th_hf_date">Date</th>
                                            <th class="th_hf_prix">Prix</th>
                                        </tr>
                                    </thead>

                                    <tbody>


                                    </tbody>
                                
                                </table>

                            </div>

                        </div>

                    </div>


                {% endfor %}
            </div>
        </div>

    </div>

</body>
</html>